
.Rprofile
.RDataTmp

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron
.Rproj
.DS_Store

# scripts
R/old_scripts/
R/testing/


# miscellaneous things
miscellaneous/

# Data won't be committed to GitHub
data/netdx_outputs/
data/netest_outputs/
data/netsim_outputs/
data/raw_data/
data/frp_outputs/
data/frp_summaries/
workflows/






